
//Info on editing: https://quarto.org/docs/presentations/revealjs/themes.html

/*-- scss:defaults --*/


/*-- scss:rules --*/
.reveal p {
  //font-family: "Raleway";
  //font-size: 1.5em;
  //font-weight: normal;
  //color: #46ACC8; 
  //line-height: 2em !important;
  //padding: 15px 0px;
}

.reveal ul li {
  //font-family: "Raleway";
  //font-size: 1.5em;
  //font-weight: normal;
  //color: #46ACC8; 
  //line-height: .1em !important;
  //padding: -5px 0px;
}

.main-point {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}